<h1>Статистика по анкете: {{ survey.title }}</h1>
<p>Количество пройденных опросов: {{ responses_count }}</p>

<hr>

{% for q in stats_data %}
    <h3>{{ q.question.text }}</h3>

    {% if q.type == "choice" %}
        <ul>
        {% for choice in q.choices %}
            <li>{{ choice.text }} — {{ choice.answer_count }}</li>
        {% endfor %}
        </ul>
    {% elif q.type == "text" %}
        <ul>
        {% for ans in q.answers %}
            <li>{{ ans }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <hr>
{% endfor %}
