{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">{{ title|default:"Список анкет" }}</h2>
    <div class="row">
        {% for survey in surveys %}
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ survey.name }}</h5>
                        <p class="card-text text-muted mb-4">
                            Автор: {{ survey.author.username }}<br>
                        </p>
                        <a href="{% url 'surveys_conducting:survey_detail' survey.q_id %}"
                           class="btn btn-primary mt-auto">
                            Пройти анкету
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет доступных анкет.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}