{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>
            Пароль пользователя и логин не совпадают.
            Пожалуйста, повторите ввод.
        </p>
    {% else %}
        <p>Пожалуйста, заполните поля для входа:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'authorization:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
    
    <a href="{% url 'authorization:register' %}"> Зарегистрироваться </a>
{% endblock %}