{% extends "base.html" %}
{% block title %}Questionnaires_title{% endblock %}
{% block content %}
    <h2>Ваши анкеты: </h2>
    {% for survey in surveys %}
        <h2>
            <a href="{{ survey.get_absolute_url }}">{{ survey.name }}</a>
        </h2>
    {% empty %}
        <li>Вы еще не создали ни одной анкеты</li>
    {% endfor %}
    <form action="{% url 'surveys_creating:questionnaire_creating' %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Создать анкету"></p>
    </form>
{% endblock %}