{% extends "base.html" %}
{% block title %}{{ questionnaire.name }}{% endblock %}
{% block content %}
    <h1>{{ questionnaire.name }}</h1>
    <p>
        Автор: {{ questionnaire.author }}
    </p>
    {% with questions.count as total_questions %}
        <h2>
            Всего вопросов: {{ total_questions }}
        </h2>
        {% for question in questions %}
            <div class="question">
                <p class="info">
                    {{ question.number }}. "{{ question.question_text }}"
                <p >    {% if question.question_obligation %}
                    Обязательный, 
                {% else %}
                    Необязательный, 
                {% endif %} 
                {% if question.active %}
                    Активный
                {% else %}
                    Неактивный
                {% endif %} </p>
                <table style="width: 500px;" border="3px">
                    <tbody>
                    <tr>
                        <td>№.</td>
                        <td>Текст ответа</td>
                        <td>Количество баллов за ответ</td>
                    </tr>
                    {% for choice in choices %}
                        {% if choice.question == question %}
                            <tr>
                                <td>{{ choice.number }}.</td>
                                <td>"{{ choice.choice_text }}"</td>
                                <td> "{{ choice.choice_points }}"</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <p></p>
                <form action="{% url 'surveys_conducting:question_editing' q_id=questionnaire.q_id number=question.number %}"
                      method="post">
                    {% csrf_token %}
                    <input type="submit" value="Редактировать вопрос">
                </form>

            </div>
        {% empty %}
            <p>В анкете пока нет вопросов.</p>
        {% endfor %}

        <form action="{% url 'surveys_conducting:question_creating' q_id=questionnaire.q_id %}" method="post">
            {% csrf_token %}
            <p><input type="submit" value="Добавить вопрос"></p>
        </form>

    {% endwith %}
{% endblock %}